$primary1: #f4ccc8;
$primary2: #eba59e;
$primary3: #e27d73;
$primary4: #da584b;
$secondary4: #70b252;
$secondary3: #8dc275;
$secondary2: #aad199;
$secondary1: #aad199;
$tertiary1: #f9eed7;
$tertiary2: #f2daab;
$tertiary3: #ebc77f;
$tertiary4: #e5b454;
$cuatertiary1: #d7e4fb;
$cuatertiary2: #a5bdea;
$cuatertiary3: #80a6eb;
$cuatertiary4: #2f61bf;
$neutral1: white;
$neutral2: #94979a;
$neutral3: #393d41;
$neutral4: #2c2f33;
$neutral5: #222528;

$displayxL: 64px;
$displayL: 58px;
$displayM: 48px;
$displayS: 32px;
$displayxS: 24px;

$displayxL-LineHeight: 88px;
$displayL-LineHeight: 72px;
$displayM-LineHeight: 56px;
$displayS-LineHeight: 48px;
$displayxS-LineHeight: 32px;

$displayxL-Spacing: 1px;
$displayL-Spacing: 1px;
$displayM-Spacing: 1px;
$displayS-Spacing: 1px;
$displayxS-Spacing: 1px;

$BodyxL: 20px;
$BodyL: 18px;
$BodyM: 15px;
$BodyS: 13px;

$BodyxL-LineHeight: 32px;
$BodyL-LineHeight: 32px;
$BodyM-LineHeight: 24px;
$BodyS-LineHeight: 22px;

$BodyxL-Spacing: 0.75px;
$BodyL-Spacing: 0.75px;
$BodyM-Spacing: 0.75px;
$BodyS-Spacing: 0.25px;
